In [1]:
import os
import warnings
from importlib import reload
import wrangle as w
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine
from env import get_db_url

warnings.simplefilter("ignore")

In [2]:
reload(w)
contestants = w.get_appearances_from_csv()
contestants.head().T
contestants,appearances = w.process_contestants(contestants)
df = appearances.join(contestants,'contestant_id')
df[df.Outcome == 0]

,contestant_id,Outcome,series_name,Contestant,Age,Hometown
appearance_id,,,,,,
40,40,0,RuPaul's Drag Race Season 4,Willam,29,"Los Angeles, California"
147,144,0,RuPaul's Drag Race Season 12,Sherry Pie,27,"New York City, New York"

In [3]:
from env import get_db_url
from sqlalchemy import create_engine
dburl = get_db_url('mirzakhani_1940')
conn = create_engine(dburl)

In [4]:
unique_series = np.unique(appearances.series_name)
appearances['series_id'] = 0
for index,value in enumerate(unique_series):
    appearances.loc[appearances.series_name == value,'series_id'] = index

In [5]:

appearances.to_sql('appearances',conn,if_exists='replace')

332

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat